.container{
  display: flex; 
}


.sidenav{
  background:#FFFFFF;
    padding: 20px 0px 20px 20px;
    min-height: 100vh;
    position: fixed;
  
  }
  
  .outlet {
    flex: 3;
    margin-left: 260px;
  }